services:
  app:
    build: ./docker/php
    container_name: app
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    environment:
      PHP_OPCACHE_VALIDATE_TIMESTAMPS: "1"
    depends_on:
      - db

  web:
    image: nginx:1.25-alpine
    container_name: web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_DB: laraveldb
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "54321:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata: